.banner-cont{
    background-color: #66545e;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-size: larger;
    padding-top: 50px;
    padding-bottom: 50px;

}